body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

nav {
    background: #1a252f; /* Yeni renk tonu */
    padding: 15px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.main-img {
    width: 80%;
    max-width: 650px;
    height: auto;
    border-radius: 5px;
    margin: 20px 0;
}

h1, h2 {
    color: #1a252f;
}

table {
    margin-top: 15px;
    border-collapse: collapse;
}

th {
    background-color: #1a252f;
    color: white;
    padding: 8px;
}

td {
    padding: 8px;
}

input[type="submit"] {
    background-color: #d35400; /* Buton rengini değiştirdim */
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}

footer {
    margin-top: 30px;
    padding: 10px;
    background: #1a252f;
    color: white;
}